<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALSIBERIJ</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Montserrat:wght@400;600;900&family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div id="info">
    <div id="head">
        <div id="nicknameAndCreds">
            <div id="nickname">
                <h1>ALSIBERIJ</h1>
            </div>
            <div id="creds">
                <h2>ALEXANDER&emsp;SIBIRTSEV</h2>
            </div>
        </div>
    </div>
    <div id="links">
        <a id="linkIG" class="link" href="https://instagram.com/alsiberij"></a>
        <a id="linkTG" class="link" href="https://t.me/alsiberij"></a>
        <a id="linkVK" class="link" href="https://vk.com/alsiberij"></a>
    </div>
</div>
</body>
</html>