body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#head h1 a {
    color: #000000;
    font-family: Goldman, sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    user-select: none;
    text-decoration: none;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

#content h2 {
    font-family: Goldman, sans-serif;
    font-size: 10em;
    letter-spacing: 10px;
    user-select: none;
}

#content h3 {
    font-family: Goldman, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    user-select: none;
}